:root {
    --fuente: font-family: 'Noto Sans JP', sans-serif;
    --color: #C5C7CB;
    --letra: #545455;
    --correo: familia de fuentes: 'Arenas movedizas', sans-serif;
    --colorCorreo: #2F2E2E;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**PRINCIPALES*/

body {
    background-color: #fafafa;
}

h1 {
    font-family: var(--fuente);
    text-transform: uppercase;
    color: var(--letra);
    text-shadow: 0 0 3px black;
}

.boton {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 1.2rem;
    text-transform: uppercase;
    font-family: var(--fuente);
    color: var(--letra);
    background-color: var(--color);
}

.boton:hover {
    background-color: var(--letra);
    color: var(--color);
    cursor: pointer;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/**HEADER*/

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.barra {
    background-color: var(--color);
    width: 100%;
    height: 100px;
    border: 1px solid var(--letra);
    padding-bottom: 10px;
}

.barra h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}


/** NAVEGACION */
.menu ul{
    display: flex;
    list-style: none;
}

.menu ul ul{
    display: none;
}

.menu a{
   display: block;
   padding: 5px;
   color: black;
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1rem;
   z-index: 2;
}
.menu ul li i{
    font-size: 1rem;
    margin-left: 10px;
}
.menu a i{
    display: inline;
    margin-top: auto;   
}    
.menu a:hover{
    border-bottom: 1px solid black;
}
.menu ul li:hover ul{
    display: block;
    position: absolute;
    background: rgba(146, 144, 144, 0.5);
    z-index: 3;
   }
/** IMAGEN TRADEL*/

.seccion-imagen {
    /* border: 2px solid var(--letra); */
}

.seccion-imagen img {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 90px; */
    max-width: 100%;
    border: 2px solid var(--letra);
    padding: 30px;
    border-radius: 5px;
}


/**FOOTER*/

.footer {
    background-color: var(--color);
    padding: 20px;
    border: 2px solid var(--letra);
}

.footer p {
    text-align: center;
    font-family: var(--fuente);
    font-size: 1.4rem;
    color: var(--letra);
    text-transform: uppercase;
    text-shadow: 0 0 2px black;
}


/**INTERNAS*/


/** EQUIPOS*/


/**iconos equipos**/

.icono a,
i {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 18px;
    color: var(--letra);
    font-size: 2rem;
}

.icono a,
i:hover {
    cursor: pointer;
    color:rgb(70, 70, 70);
    -webkit-transform: scale(1.1);
}


/**formulario**/

.seccion-equipo {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--letra);
    height: 650px;
    /* display: flex;
    justify-content: space-between; */
}

.seccion-equipo legend {
    font-family: var(--fuente);
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--letra);
    text-shadow: 0 0 2px black;
}

.seccion-equipo label {
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--fuente);
    color: var(--letra);
    margin-top: 20px;
}

.seccion-equipo select,
input:not([type="submit"]) {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: var(--color);
    font-family: var(--fuente);
    color: var(--letra);
    border: 1px solid var(--letra);
}

.aplicaciones {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-left: 5rem;
}
.aplicaciones input{
    padding-top: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
}


.ehs {
    width: auto;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 10px;
    align-items: center;
    position: relative;
    right: 10rem;
}

.estado {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.estado input:not([type="submit"]) {
    width: auto;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 10px;
    align-items: center;
}

textarea {
    width: 100%;
    height: 9rem;
    background-color: var(--color);
    font-family: var(--fuente);
    color: var(--letra);
}


/**INFORMACION SOPORTE**/

.brand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
}

.tarjet {
    flex-basis: calc(50% - 1rem);
    text-align: center;
}

.tarjet h3 {
    font-family: var(--fuente);
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 1px solid var(--letra);
    margin-bottom: 0;
    color: var(--letra);
    text-shadow: 0 0 3px var(--letra);
    text-transform: uppercase;
}

.tarjet p span {
    text-transform: uppercase;
    font-family: var(--fuente);
    font-weight: bold;
    color: var(--letra);
}

.tarjet p {
    font-family: var(--correo);
    font-weight: bold;
    color: var(--colorCorreo);
    text-transform: uppercase;
}


/**Reporte Sura**/

.ocultar {
    display: none;
}

.title {
    font-family: var(--fuente);
    color: var(--letra);
    text-transform: uppercase;
    text-shadow: 0 0 3px var(--letra);
}

.title .select a {
    display: block;
    align-items: center;
    margin-right: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--fuente);
    font-weight: bold;
    color: var(--letra);
    position: relative;
}


/* .title .select a.activo::after {
    position: absolute;
    display: block;
} */

.title .select a:hover {
    color: white;
    border-bottom: 2px solid #686868;
}

.icon {
    display: flex;
    justify-content: flex-start;
}


/** Vista Impresora**/

.print {
    height: 35rem;
}


/**Login**/

.login {
    color: var(--letra);
    border: 4px solid black;
    max-width: 300px;
    margin: 200px auto;
    padding: 30px;
    box-shadow: 0 0 40px var(--colorCorreo);
}

.credenciales h2 {
    text-transform: uppercase;
}

.credenciales label {
    text-transform: uppercase;
    margin-top: 5px;
}

.credenciales input {
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    text-transform: uppercase;
    font-family: var(--fuente);
    color: var(--letra);
}

.btn:hover {
    cursor: pointer;
    color: white;
}

.error {
    text-transform: uppercase;
}


/** vista mantenimiento cierre**/

.filtro fieldset {
    border: 2px solid var(--colorCorreo);
    margin-bottom: 3rem;
    box-shadow: 0 0 30px var(--letra);
}

.filtro legend {
    font-size: 2rem;
    font-family: var(--fuente);
    color: var(--letra);
    text-shadow: 0 0 3px var(--colorCorreo);
}

.btnfiltro {
    padding: 10px;
    text-transform: uppercase;
    font-family: var(--fuente);
    background-color: var(--color);
}

.btnfiltro:hover {
    background-color: var(--letra);
    color: var(--color);
    cursor: pointer;
}


/** vista administracion plataforma **/

.icono-admin  i{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 18px;
    color: var(--letra);
    font-size: 2rem; 
}

/** Informes y Consultas **/

.informe{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: var(--fuente);
    color: var(--letra);   
    display: flex;
    height: 100%;
    margin-bottom: 3rem;
}
.informe th{
    justify-content: space-between;   
}
.celda{
    
}
.celda th{
    text-align: right;
    padding-left: 3rem;
    padding-right: 2rem;
    border-bottom: 1px solid var(--colorCorreo);   
}

.fila td{
    border-bottom: 1px solid var(--colorCorreo);
    padding-top: 1.3rem;
}
